{% extends 'base.html' %}

{% block content %}
	<h3>Add an Address</h3>

<form method = 'POST'>
{% csrf_token %}

  <div class="form-group">
    <input type="text" class="form-control" id="name" placeholder="Full Name" name="name">
  </div>

  <div class="form-group">
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" name="email">
  </div>

  <div class="form-group">
    <input type="phone" class="form-control" id="phone"  placeholder="Phone" name="phone">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" id="address"  placeholder="Address" name="address">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" id="city"  placeholder="City" name="city">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" id="stateid"  placeholder="State" name="stateID">
  </div>

    <div class="form-group">
    <input type="text" class="form-control" id="countryid"  placeholder="Country" name="countryID">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" id="zipcode"  placeholder="Zip Code" name="zipcode">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" id="age"  placeholder="Age" name="age">
  </div>

  <button type="submit" class="btn btn-secondary">Add Address</button>
</form>

{% endblock %}